
body {

    max-width: 777px;

    margin: 20px auto;

    padding: 30px;

    /* font-family: 'Roboto Slab', sans-serif; */

    font-family: 'Roboto', 'Roboto Slab', sans-serif;

    font-size: 15px;
    line-height: 25px;

    text-align: left;


    /* color: #d0d5db;
    background-color: #2a3840; */

    /* color: #c7cdd4;
    background-color: #2a3840; */

    /* color: #FFFFFF;
    background-color: #34444d; */

    color: #d0d5db;
    background-color: #2a3840;

}

.header-links {
    /* font-family: 'Open Sans', sans-serif; */

    font-size: inherit;
    font-weight: inherit;
    /* padding: inherit; */
    text-align: inherit;
    border-bottom: 3px solid red;

    /* border-bottom: none;
    color: #000000;
    background-color: #FFFFFF; */

}

.para-links {
    font-size: inherit;
    font-weight: bold;
    /* padding-bottom: 1px; */
    border-bottom: 3px solid red;
    /* border-bottom: none; */
    /* color: #caf0f8; */
    /* background-color: #caf0f8; */
}

a {
    /* font-family: 'Open Sans', sans-serif; */

    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid red;

    /* padding-right: 2px;
    padding-left: 2px; */
}

a:hover {
    color: #000000;
    background-color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    text-align: left;
}

p {
    text-align: left;
    /* text-align: justify; */
}
