
body {

    max-width: 31.25em;

    margin: 1em auto;

    padding: 1.25em;

    font-family: 'Roboto', sans-serif;

    font-size: 1em;
    line-height: 1.875em;

    text-align: left;


    /* color: #000000;
    background-color: #FFFFFF; */

    /* color: #33353b;
    background-color: #FFFFFF; */

    color: #1b1b1c;
    background-color: #FFFFFF;

}

a {
    color: #3037ff;
    font-size: 1.125em;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #000000;
    /* background-color: #FFFFFF; */

    /* font-size: 20px; */
}

div {
    background-color:#000000;
    height:5px;
}

hr {
    background-color:#000000;
    height:3px;
}

h1 {
    color: #000000;
    font-size: 1.75em;
    font-weight: bold;
    padding: 0;
    text-align: left;
}

p {
    text-align: justify;
    font-size: 1em;
}
